<header>
    <div class="headerwrapper">
        <div class="header-left" style="text-align: center ; margin-top: 12px;margin-left: 3px">
            <h3 style="color:white">Durban harbor control</h3>
        </div>
        <div class="header-right" style="margin-right: 20px;color: white">
            <div id="circle" style="text-align: center;">
                <span style="font-size: 10px;">Wind Speed</span>
                <br>
                <span style="font-size: 18px;">{{wp.windKmH}} km/h</span>
            </div>
            <!-- <div id="circle">
                <div>Wind Speed</div>
                <div> 43</div>
            </div> -->
        </div><!-- header-right -->
    </div><!-- headerwrapper -->
</header>