

/********** 3. HEADER STYLES **********/
/**************************************/

.headerwrapper {
    background-color: #1f6b9e;
    min-height: 60px;
    width: 100%;
    z-index: 1000;
    &:after {
        clear: both;
        display: block;
        content: '';
    }
}
.header-left {
    float: left;
}

.header-right {
    float: right;
}

a.btn.btn-social-icon.btn-github {
    color: #fff;
    border: 1px solid #fff;
    margin: 10px;
}
#circle{ background: white; width: 80px; height: 80px; border-radius: 64px; border: 2px solid blue($color: #000000); }
#circle span {position: relative;
    left: 3px;
    top: 5px;
    width: 84px;
    height: 46px;
    color: black;
    text-align: center; }