<div class="sidebar hidden-sm-down">
    <ul class="nav in" id="side-menu">
       
      
        <li><a [routerLink]="['/home']" [routerLinkActive]="['active']" class="waves-effect"><i class="fa fa-home"></i> <span
                class="hide-menu">Home</span></a></li>
        <!-- <li class=""><a href="javascript:void(0);" class="waves-effect"><i class="fa fa-envelope-o"></i> <span
                class="hide-menu"> Mailbox <span class="fa arrow"></span><span
                class="label label-rouded label-danger pull-right">6</span></span></a>
        </li> -->
       
        <li>
            <a  [routerLink]="['/schedule']" [routerLinkActive]="['active']">
                <i class="fa fa-edit"></i>
                <span class="hide-menu">Schedule Boat</span>
            </a>
        </li>
        
    </ul>
</div>